@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS reset done*/

/* variables */
:root {
    --font-raleway: "Raleway", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-indie: "Indie Flower", sans-serif;
    --color-gradient: linear-gradient(90deg, #C72C76 0.17%, #B12BC7 100.17%);
    --color-white: #F4F4F4;
    --color-black: #3F4142;
    --color-gray-light: #F4F4F4;
    --color-gray-dark: #8D8D8D;
    --opacity: 0.3;
    --shadow-regular: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
    --shadow-enhanced: filter: drop-shadow(0px -2px 8px rgba(0, 0, 0, 0.03)), drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
    --container-width: 900px;
}
/* variables */

/* general */
body {
    font-family: var(--font-raleway);
    font-size: 16px;
}

.logo {
    font-family: var(--font-indie);
    font-size: 1.5rem;
}

.container {
    /* max-width: var(--container-width); */
}
/* general */

/* navigation */
#navbar {
    height: 50px;
    background: var(--color-gradient);
    box-shadow: var(--shadow-regular);
    display: grid;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.div-navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links-left, .navbar-links-right {
    display: inline-block;
    font-size: 0.875;
}

.navbar-links-left li, .navbar-links-right li {
    display: inline-block;
    color: var(--color-white);
}

.navbar-links-left li {
    margin-right: 65px;
}

.navbar-links-right li {
    margin-left: 65px;
}
/* navigation */