@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;600&display=swap');

/* variables */
:root {
    --font-raleway: "Raleway", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-indie: "Indie Flower", sans-serif;
    --color-gradient: linear-gradient(90deg, #C72C76 0.17%, #B12BC7 100.17%);
    --color-white-primary: #FFFFFF;
    --color-white-secondary: #F4F4F4;
    --color-black: #3F4142;
    --color-gray-light: #F4F4F4;
    --color-gray-dark: #D7D7D7;
    --shadow-regular: 0px 4px 8px 0px rgba(0,0,0,0.05);
    --shadow-strong: 0px 4px 8px 0px rgba(0,0,0,0.10);
    --shadow-enhanced: 0px 4px 8px 0px rgba(0,0,0,0.05), 0px -2px 8px 0px rgba(0,0,0,0.03);
    --border-radius: 25px;
    --container-width: 900px;
}
/* variables */

/* general */
body {
    font-family: var(--font-raleway);
    font-size: 16px;
    color: var(--color-black);
}

h2, p {
    line-height: 140%;
}

h2 {
    font-family: var(--font-montserrat);
    font-size: 1.875rem;
    font-weight: 500;
    text-align: center;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-65 {
    margin-bottom: 65px;
}

.logo {
    font-family: var(--font-indie);
    font-size: 1.5rem;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

.line-short {
    border-bottom: 0.5px solid var(--color-gray-dark);
    width: 70px;
}

.line-long {
    border-bottom: 0.5px solid var(--color-gray-dark);
    max-width: var(--container-width);
}

.cta {
    background: var(--color-gradient);
    color: var(--color-white-secondary);
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 55px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-strong);
    display: block;
    width: fit-content;
}

.card {
    background-color: var(--color-white-primary);
    box-shadow: var(--shadow-enhanced);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* general */

/* navigation */
#navbar {
    height: 50px;
    background: var(--color-gradient);
    box-shadow: var(--shadow-strong);
    display: grid;
    position: fixed;
    width: 100%;
}

.div-navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    margin: auto;
}

.navbar-links-left, .navbar-links-right {
    font-size: 0.875rem;
    display: flex;
}

.navbar-links-left li>a, .navbar-links-right li>a {
    display: inline-block;
    color: var(--color-white-secondary);
    text-decoration: none;
}

.navbar-links-left li>a:hover, .navbar-links-right li>a:hover {
    color: var(--color-white-secondary);
    text-decoration: underline;
}

.navbar-links-left li>a {
    margin-right: 65px;
}

.navbar-links-right li>a {
    margin-left: 65px;
}
/* navigation */

/* header */
.header-content {
    background-image: url("../images/img-background.png");
    height: calc(100vh - 215px);
    min-height: 515px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.h1-heading {
    font-family: var(--font-indie);
    font-size: 6.25rem;
}

.p-header {
    font-size: 1.5rem;
    margin-top: 40px;
}

.p-header, .h1-heading {
    display: block;
    width: 100%;
    text-align: center;
}

.header-copy {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    height: 370px;
    width: fit-content;
    margin: auto;
}

.header-usp {
    min-height: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usp {
    display: flex;
    flex-direction: column;
    width: 140px;
    align-items: center;
    text-align: center;
}

.usp p {
    margin-top: 30px;
}

/* about */
.p-section {
    text-align: center;
    max-width: 700px;
}

.div-about {
    margin: 95px auto;
}

.div-about-content, .div-why-giftiebug-content {
    max-width: 700px;
    margin: auto;
}

.div-occasions, .div-summary {
    display: flex;
    justify-content: space-between;
}

.occasion-card {
    width: 260px;
    height: 300px;
}

.occasion-card img {
    width: 70%;
}

.occasion-card p {
    font-size: 0.875rem;
    text-align: center;
}
/* about */

/* how it works */
.div-how-it-works {
    margin: 95px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-how-it-works {
    background-image: url("../images/img-background.png");
    min-height: 515px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.preview-card {
    width: 450px;
    height: 560px;
    font-family: var(--font-montserrat);
}

.preview-card .img-product-preview {
    width: 70%;
}

.star-review {
    width: 15px;
    margin-right: 2px;
}

.product-preview-price {
    font-weight: 600;
}

.div-product-review {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.li-title {
    font-size: 1.125rem;
    font-weight: 600;
}

.li-explanation {
    font-size: 0.875rem;
}

.div-steps {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.div-steps>ol>li {
    margin: 35px 0;
}

.div-steps>.line-short {
    margin-top: 30px;
}
/* how it works */

/* why giftiebug */
.div-why-giftiebug {
    margin: 95px auto;
}

.summary-card {
    width: 190px;
    height: 225px;
}

.summary-card img {
    width: 70%;
}
/* why giftiebug */

/* footer */
footer {
    background-image: url("../images/img-background.png");
    min-height: 260px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.footer-content p {
    text-align: center;
}

.contact-copyright p:first-child {
    line-height: 200%;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
/* footer */

/* responsiveness */
@media (max-width: 991px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    #navbar {
        height: 80px;
    }
    .header-usp {
        justify-content: space-around;
    }
    .navbar-links-right, .navbar-links-left li {
        display: none;
    }
    .div-navbar-links {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 900px) {
    .p-header {
        margin-top: 0;
        width: 80%;
    }
    .div-occasions {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .occasion-card {
        margin-bottom: 45px;
    }
    .occasion-card:last-of-type {
        margin-bottom: 0;
    }
    .line-long {
        width: 80%;
    }
    .div-how-it-works {
        flex-direction: column;
        align-items: center;
    }
    .preview-card {
        margin-bottom: 55px;
    }
    .div-steps {
        align-items: center;
    }
    .div-steps ol {
        text-align: center;
        list-style-position: inside;
    }
    .div-summary {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .div-summary.mb-65 {
        margin-bottom: 0;
    }
    .summary-card {
        margin: 0 20px 40px 20px;
    }
}
@media (max-width: 600px) {
    .header-content {
        height: calc(100vh - 100px);
    }
    .header-copy {
        margin-top: 30%;
    }
    .header-usp {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 65px 0;
    }
    .usp {
        margin: 20px;
    }
    .preview-card {
        width: 300px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .div-product-review {
        flex-direction: column;
        align-items: center;
    }
    .div-how-it-works.container {
        padding: 0;
    }
    .div-steps {
        /* bring back padding removed above */
        padding: 0 40px;
    }
}
@media (max-width: 425px) {
    .h1-heading {
        font-size: 4.25rem;
    }
}
/* responsiveness */