/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;600&display=swap');

/* variables */
:root {
    --font-raleway: "Raleway", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-indie: "Indie Flower", sans-serif;
    --color-gradient: linear-gradient(90deg, #C72C76, #B12BC7);
    --color-white-primary: #FFFFFF;
    --color-white-secondary: #F4F4F4;
    --color-black: #3F4142;
    --color-gray-light: #F4F4F4;
    --color-gray-dark: #C1C1C1;
    --color-violet-dark:  #B12BC7;
    --shadow-regular: 0px 4px 8px 0px rgba(0,0,0,0.05);
    --shadow-strong: 0px 4px 8px 0px rgba(0,0,0,0.10);
    --shadow-enhanced: 0px 4px 8px 0px rgba(0,0,0,0.05), 0px -2px 8px 0px rgba(0,0,0,0.03);
    --border-radius: 25px;
    --container-width: 900px;
}
/* variables */

/* general */
html {
  scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

body {
    font-family: var(--font-raleway);
    font-size: 16px;
    color: var(--color-black);
}

h2, p {
    line-height: 140%;
}

h2 {
    font-family: var(--font-montserrat);
    font-size: 1.875rem;
    font-weight: 500;
    text-align: center;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-65 {
    margin-bottom: 65px;
}

.display-none {
    display: none;
}

.display-block-slide {
    display: block;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--color-white-primary);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid var(--color-gray-dark);
    width: 300px; /* Could be more or less, depending on screen size */
}

.modal-p {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 260px;
}

.modal-p p:last-of-type {
    margin-top: 10px;
}

/* The Close Button */
.close {
    color: var(--color-gray-dark);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
}

.logo {
    font-family: var(--font-indie);
    font-size: 1.5rem;
    color: var(--color-white-secondary);
    text-decoration: none;
}

.logo-burger {
    position: relative;
    left: 45px;
    top: -19px;
    font-size: 1.3rem;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

.line-short {
    border-bottom: 0.5px solid var(--color-gray-dark);
    width: 70px;
}

.line-long {
    border-bottom: 0.5px solid var(--color-gray-dark);
    max-width: var(--container-width);
}

.cta {
    font-size: 1rem;
    font-family: var(--font-montserrat);
    outline: transparent;
    background: var(--color-gradient);
    border: 1px solid transparent;
    color: var(--color-white-secondary);
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 55px;
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--shadow-strong);
            box-shadow: var(--shadow-strong);
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cta:hover {
    background: white;
    border: 1px solid var(--color-violet-dark);
    color: var(--color-violet-dark);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.card {
    background-color: var(--color-white-primary);
    -webkit-box-shadow: var(--shadow-enhanced);
            box-shadow: var(--shadow-enhanced);
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
/* general */

/* navigation */
#burger-menu {
    display: none;
    position: absolute;
    top: 20px;
}

#navbar {
    height: 50px;
    background: var(--color-gradient);
    -webkit-box-shadow: var(--shadow-strong);
            box-shadow: var(--shadow-strong);
    display: -ms-grid;
    display: grid;
    position: fixed;
    width: 100%;
}

.div-navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: var(--container-width);
    margin: auto;
}

.navbar-links-left, .navbar-links-right {
    font-size: 0.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navbar-links-left li>a, .navbar-links-right li>a {
    display: inline-block;
    color: var(--color-white-secondary);
    text-decoration: none;
}

.navbar-links-left li>a:hover, .navbar-links-right li>a:hover {
    color: var(--color-white-secondary);
    text-decoration: underline;
}

.navbar-links-left li>a {
    margin-right: 65px;
}

.navbar-links-right li>a {
    margin-left: 65px;
}

.div-burger-menu {
    width: 27px;
    height: 16px;
}

.top-burger-menu {
    margin-bottom: 4px;
    border-bottom: 1px solid var(--color-white-secondary);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.top-burger-menu-transform {
    -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
            transform: rotate(-15deg);
}

.bow-burger-menu-1, .bow-burger-menu-2 {
    width: 9px;
    height: 4px;
    background: transparent;
    border: 1px solid var(--color-white-secondary);
    border-radius: 7px / 4px;
    position: relative;
}

.bow-burger-menu-1 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    left: 1px;
}

.bow-burger-menu-2 {
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    left: -1px;
}

.bow-burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.bottom-burger-menu {
    height: 4px;
    border-top: 1px solid var(--color-white-secondary);
    border-bottom: 1px solid var(--color-white-secondary);
}

.div-burger-menu-links {
    background-color: var(--color-white-primary);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100vh;
    -webkit-box-shadow: var(--shadow-enhanced);
            box-shadow: var(--shadow-enhanced);
    margin-top: 60px;
}

.div-burger-menu-links ul {
    padding: 30px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.div-burger-menu-links ul li {
    margin-bottom: 20px;
}

.div-burger-menu-links ul li a {
    color: var(--color-black);
    text-decoration: none;
}
/* navigation */

/* header */
.header-content {
    background-image: url("../images/img-background.png");
    height: calc(100vh - 215px);
    min-height: 515px;
    max-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.h1-heading {
    font-family: var(--font-indie);
    font-size: 6.25rem;
}

.p-header {
    font-size: 1.5rem;
    margin-top: 40px;
}

.p-header, .h1-heading {
    display: block;
    width: 100%;
    text-align: center;
}

.header-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    height: 370px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.header-usp {
    min-height: 265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.usp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.usp p {
    margin-top: 30px;
}

/* about */
.p-section {
    text-align: center;
    max-width: 700px;
}

.div-about {
    margin: 95px auto;
}

.div-about-content, .div-why-giftiebug-content {
    max-width: 700px;
    margin: auto;
}

.div-occasions, .div-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.occasion-card {
    width: 260px;
    height: 300px;
}

.occasion-card img {
    width: 70%;
}

.occasion-card p, .summary-card p {
    font-size: 0.875rem;
    text-align: center;
}
/* about */

/* how it works */
.div-how-it-works {
    margin: 95px auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section-how-it-works {
    background-image: url("../images/img-background.png");
    min-height: 515px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.preview-card {
    width: 450px;
    height: 560px;
    font-family: var(--font-montserrat);
}

.preview-card .img-product-preview {
    width: 70%;
}

.star-review {
    width: 15px;
    margin-right: 2px;
}

.product-preview-price {
    font-weight: 600;
}

.div-product-review {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.li-title {
    font-size: 1.125rem;
    font-weight: 600;
}

.li-explanation {
    font-size: 0.875rem;
}

.div-steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.div-steps>ol>li {
    margin: 35px 0;
}

.div-steps>.line-short {
    margin-top: 30px;
}
/* how it works */

/* why giftiebug */
.div-why-giftiebug {
    margin: 95px auto;
}

.summary-card {
    width: 190px;
    height: 225px;
}

.summary-card img {
    width: 70%;
}
/* why giftiebug */

/* footer */
footer {
    background-image: url("../images/img-background.png");
    min-height: 260px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-content p {
    text-align: center;
}

.contact-copyright p:first-child {
    line-height: 200%;
}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
/* footer */

/* responsiveness */
@media (max-width: 991px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    #navbar {
        height: 60px;
    }
    .header-usp {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .navbar-links-right, .navbar-links-left li {
        display: none;
    }
    #burger-menu {
        display: block; 
        margin-left: 45px;
    }
    .header-content, .section-how-it-works, footer {
        background-attachment: scroll;
    }
}

@media (max-width: 900px) {
    .p-header {
        margin-top: 0;
        width: 80%;
    }
    .div-occasions {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .occasion-card {
        margin-bottom: 45px;
    }
    .occasion-card:last-of-type {
        margin-bottom: 0;
    }
    .line-long {
        width: 80%;
    }
    .div-how-it-works {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .preview-card {
        margin-bottom: 55px;
    }
    .div-steps {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .div-steps ol {
        text-align: center;
        list-style-position: inside;
    }
    .div-summary {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .div-summary.mb-65 {
        margin-bottom: 0;
    }
    .summary-card {
        margin: 0 20px 40px 20px;
    }
}
@media (max-width: 600px) {
    .header-content {
        height: calc(100vh - 200px);
    }
    .header-copy {
        margin-top: 30%;
    }
    .header-usp {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin: 65px 0;
    }
    .usp {
        margin: 20px;
    }
    .preview-card {
        width: 300px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .div-product-review {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .div-how-it-works.container {
        padding: 0;
    }
    .div-steps {
        /* bring back padding removed above */
        padding: 0 40px;
    }
}
@media (max-width: 425px) {
    .h1-heading {
        font-size: 4.25rem;
    }
    body {
        font-size: 18px;
    }
    .usp {
        width: 160px;
    }
    .modal-content {
        margin: 30% auto;
    }
}
/* responsiveness */